* {
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  margin: 0;
  background-color: #f9fafb;
  color: #111827;
}

input, button {
  font-size: 14px;
}
